#myfaq a {
  position: fixed;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  top: 105px;
}
#myfaq a:hover {
  left: 0;
}
#que {
  top: 140px;
  background-color: #f44336;
}
}

